.flexible_contents {
    .flexible_contents_section {
        margin: $flex_section_margin;
        overflow-x: hidden;

        .flexible_contents_section--v_t {
            margin: $flex_section_margin;
        }
    }

    .flexible_contents_section--tt--double_col {
        column-count: 2;
        column-gap: $flex_section_columngap;
        @include media-query('md:port') {
            column-count: 1;
        }
    }
}
